<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <table id="recipe_ingredients">
    <thead>
      <tr>
        <th data-field="name">Ingrediente</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |i| %>
        <tr>
          <td>
            <input id=<%= "recipe-ingredient-" + i.id.to_s %> name="recipe[ingredient_ids][]" type="checkbox" value=<%= i.id.to_s %>/>
            <label for=<%= "recipe-ingredient-" + i.id.to_s %>><%= i.name %></label>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row">
    <%= link_to 'Novo Ingrediente', new_ingredient_path %>
  </div>

  <div class="field">
    <%= f.label :preparing %>
    <%= f.text_field :preparing %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
