<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
    In ingredients: <%= @recipe.ingredients.map(&:name).join(',') %>
</p>

<p>
  <strong>Preparing:</strong>
  <%= @recipe.preparing %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
