<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Ingrediente</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

<%= form_for(ingredient) do |f| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
          <%= f.label :nome %><br/>
          <%= f.text_field :name, class: "form-control", placeholder: "Coloque aqui o nome do ingrediente *"%>
      </div>

  
  <div class="form-group">
    <%= f.label :tag_list, "Tags (Separadas por Ponto)" %><br>
    <%= f.text_field :tag_list, class:"form-control", placeholder: "Tags separadas por ponto" %>
  </div>

<div class="col-lg-12 text-center">
  <div class="actions">
      <% if ingredient.name != nil%>
          <%= f.submit "Atualizar", class:"btn btn-xl"%>
      <% else %>
          <%= f.submit "Criar", class:"btn btn-xl"%>
      <% end %>
  </div>
<% end %>
