<p id="notice"><%= notice %></p>

<br>
<br>
<br>
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">Ingredientes</h2>
      </div>
  </div>

<%= form_tag ingredients_path, :method => 'get' do %>
  <p>
    <div>
    <div class="col-xs-4 col-xs-offset-4 text-center">
      <div id="search-ingredients">
      <%= text_field_tag :search, params[:search], class: "form-control" %>
      <%= submit_tag "Procurar", :name => nil, class:"btn btn-xl"%>
    </div>
  </p>
<% end %>

<%= link_to 'Novo Ingrediente', new_ingredient_path , class:"btn btn-xl"%>

<br>
<br>

	<div class="row">
        <div class="span12">
    		<table class="table table-condensed table-hover">
    			<thead>
    				<tr>
    					<th> Nome </th>
    					<th> Descrição </th>
    					<th><%=  link_to 'Tags', tags_path %> </th>
    				</tr>
    			</thead>
    			<tbody>
            <% @ingredients.each do |ingredient| %>
    				<tr>
              <td><%= ingredient.name %></td>
              <td><%= raw ingredient.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %></td>
              <td><%= link_to image_tag("eye.png", width:24, height:24, border: 0, alt:"Visualizar", title:"Visualizar"), ingredient_path(ingredient) %></td>
              <td><%= link_to image_tag("settings.png", width:24, height:24, border: 0, alt:"Editar", title:"Editar"), edit_ingredient_path(ingredient) %></td>
              <td><%= link_to image_tag("delete-button.png", width:24, height:24, border: 0, alt:"Deletar", title:"Deletar"),
                                        ingredient, method: :delete, data:
                                        { confirm: 'Você tem certeza que quer deletar esse Ingrediente?' } %></td>
    				</tr>
            <% end %>
    			</tbody>
    		</table>
    	</div>
	</div>
