<p id="notice"><%= notice %></p>

<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-lg-12 text-center">
      <div class="intro-text">
          <div class="intro-lead-in", id="ingredients-index">Huuum Chef, temos um delicioso "<%= @ingredient.name %>" aqui!</div>
    </div>
</div>

<div>
  <p>
    <div class="intro-lead-in", id="ingredients-index">Ingrediente:</div>
    <div class="intro-lead-in", id="ingredients-atributes"><%= @ingredient.name %></div>
  </p>

  <p>
    <div class="intro-lead-in", id="ingredients-index">Tags:</div>
    <div class="intro-lead-in", id="ingredients-atributes"><%= @ingredient.tag_list %></div>
   </p>
</div>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) , class:"btn btn-xl"%>
<%= link_to 'Back', ingredients_path, class:"btn btn-xl"%>
